*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    padding: 0.5% 2%;
}
.nav-bar{
    padding: 1% 2%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
    border: solid 1px rgb(21, 94,239);
    border-radius: 12px;
    margin: 0 0 3% 0;
    
}
.a{
    border: solid 1px rgb(21, 94,239);
    padding: 2%;
    border-right: none;
}
.img1{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.nav-text{
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
    
}
.home , .about , .hire {
    padding: 7%;
    font-size: 1.5rem;
    border: hidden;
}
.text-container p{
    font-size: 2rem;
    color: rgb(21, 94,239);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}
.nav-text a{
    text-decoration: none;
    color: black;
    font-family: 'Halant', serif;
    font-weight: 500;
}
.hire{
    border: solid 1px rgb(21, 94,239);
    border-radius: 8px;
    padding: 3%;
    color: rgb(21, 94,239);
}
.hire a{
    color: rgb(21, 94,239);
}
.intro h2{
    color: rgb( 21, 94,239);
    font-family: 'Halant', serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 67.2px;
}
.see button{
     background-color: rgb( 21, 94,239);
     border-radius: 5px;
     padding: 1.5% 3%;
     margin-top: 3%;
     color: white;
     border: solid 1px rgb( 21, 94,239);
     text-decoration: none;
     cursor: pointer;
}
.first{
    padding: 0 2%;
    
}
.intro p{
    padding-top: 1.5%;
    
}
.intro h3{
    font-family:'Halant', serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .5px;
}
.content{
    width: 60%;
}
.content p{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .5px;
}
.about-me{
    width: 50%;
}
.about-me h2{
font-family: 'Halant', serif;
font-weight: 600;
font-size: 40px;
line-height: 48px;
padding-bottom: 24px;
}
.about-me p{
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    line-height: 36px;
    letter-spacing: .5px;
    color: rgb(46,58,83);
}
.second{
    margin: 5% 0;
    padding: 3% 1.5%;
}
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials{
    display: flex;
    gap: 15%;
}
.socials img{
    height: 20px;
}
.text p{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .5px;
}
.foot{
    border: solid 1px  rgb( 21, 94,239);
    padding: 0 2%;
    border-radius: 12px;
}
.socials:hover{
    cursor: pointer;
}
.positions{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    align-items: center;
    border: solid 1px rgb(21, 94,239);
    border-radius: 12px;
    margin: 5% 0;
    padding: 9% 1% 0% 1%;   
}
.frame{
    width: 50%;
    margin: 0 auto;
}
.project{
    color: black;
    padding: 3% 4%;
    margin-right: -2%;
    margin-top: 5%;
    width: 50%;
    border: solid 2px white;
    background-color: rgba(249, 245, 255,1);
    position: relative;
    bottom: 9rem;
    right: -10%;
    z-index: 1;
}
.extras,.thanks,.list{
    padding-top: 2%;
}
.list,.extras,#no{
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    line-height: 36px;
    letter-spacing: .5px;
    color: rgb(46,58,83);
}
.list{
    padding: 0 2%;
    margin: 0 5%;
}
#yes{
    padding-bottom: 3%;
}
.hamburger{
    display: none;
}
@media screen and (max-width:768px){
    .nav-text{
        display: none;
    }
    .nav-bar{
        padding: 2%;
    }
    .line{
        width: 1.5rem;
        margin-bottom: 5px;
        height: 5px;
        background-color: black;
        cursor: pointer;

    }
    .hamburger{
        display: block;
    }
    .first{
        flex-direction: column;
        row-gap: 1rem;
        text-align: center;
    }
    .intro{
        width: 100%;
    }
    .intro h3{
        font-size: 1rem;
        line-height: 150%;
        font-weight: 600;
        font-family: 'Manrope', sans-serif;
        padding: 4%;
    }
    .intro h2{
        font-size: 32px;
        line-height: 120%;
        font-weight: 600;
        padding: 2% 5%;
    }
    .intro p{
        text-align: center;
        font-size: 16px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.5px;
     }
     .image-container{
        width: 70%;
        height: 50% ;
     }
    .content{
        width: 100%;
    }
    .see button{
        width: 80%;
    }
    .second{
        flex-direction: column-reverse;
        row-gap: 16px;
    }
    .about-me{
        width: 100%;
        text-align: center;
    }
    .about-me h2{
        font-size: 24px;
        font-weight: 600;
        font-family: 'Halant', serif;
        padding-bottom: 0;
    }
    .about-me p{
        font-size: 16px;
        line-height: 150%;
        letter-spacing: .5px;
        font-family: 'Manrope', sans-serif;
    }
    .project{
        position: static;
        width: 100%;
        margin: -3% 5% 0 5%;
    }
    .positions{
        flex-direction: column;
    }
    .frame{
        width: 100%;
    }
    .foot{
        flex-wrap: wrap;
    }
    .text{
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .text p{
        font-size: 15px;
        line-height: 150%;
        font-weight: 500;
        font-family: 'Manrope', sans-serif;
    }
    .text-container p{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .socials img{
        height: 2rem;
    }
    .a{
        width: 95%;
        height: 60%;
    }
    #yes{
        font-size: 32px;
        font-weight: 700;
        font-family: 'Halant', serif;
        padding-bottom: 2%;
    }
    .list,#no,.extras,.thanks{
        text-align: center;
        font-size: 16px;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.5px;
    }
    #no{
        padding-left: 0%;
    }
    .list{
    margin-left: 10%;
    padding-left: 5%;
    }
}